.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 25px rgba(1 1 1/ 15%);
  padding: 35px 10px 10px 20px;
  margin: 18px;
  transition: 00.7s ease;
  border-radius: 10px;
  height: auto;
  width: 250px;
}

.name {
  color: #000;
  text-align: center;
  display: flex;
  justify-content: center;
}

.card:hover {
  transform: scale(1.1);
}
.card .info {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

#instructor_picture {
  text-align: center;
  min-width: 90%;
  min-height: 165px;
  border-radius: 5px;
}

.speciality {
  margin-top: -20px;
  font-size: 0.85em;
}

.mail {
  font-size: 0.83em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -10px;
  color: #0d6efd;
  cursor: pointer;
}

.chat {
  width: 80px;
  font-size: 0.6em;
  height: 20px;
  border: none;
  background-color: #24953d;
  color: #fff;
  border-radius: 10px;
  margin-right: -96px;
  margin-top: -27px;
}


.showPreview{
  width: 80px;
    font-size: 0.6em;
    height: 20px;
    border: none;
    background-color: #6c757d;
    color: #fff;
    border-radius: 10px;
    margin-left: -130px;
    margin-top: -20px;
}


.previewimg{
  width: 250px;
  height: 250px;
  border-radius: 5px;
  margin-left: 20%;
}

.previewtitle{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 28%;
}

.previewspeciality{
    /* margin-left: 32%; */
    text-align: center;
  }

.previewMail{
  display: inline-block;
  color:#0d6efd;
  margin-left: 28%;
  transform: translateY(-22px);
}  

.previewIcon{
  font-size: 1.4em;
  margin-left: 5px;
  cursor: pointer;
}

.media{
  transform: translateX(-80px);
}