.courseAvatar{
    cursor: pointer;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 380px;
    max-width: 380px;
    color: #000;
    border-radius: 10px;
    font-size: 0.6em;
    margin-top: 10px;
    box-shadow: 0 5px 25px rgba(1 1 1/ 15% );
    padding-left: 15px;
    padding-right: 15px;
}


.infocourse {
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.categorycourse{
    margin-left: 15px;
    color:#0d6efd;
}
.courseAvatar:hover{
    background-color: #38B2AC;
    color: white;
}

#photoavatar{
    cursor: pointer;
    width: 60px;
    height: 50px;
    border-radius: 5px;
}